<div class="row">
    <div class="navbar">
      <div class="col-sm-1">
        <div class="title"><a class="title" href="#home">AnonTester</a></div>
      </div>

      <!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses-->
      <div class="col-sm-2">
        <div class="dropdown show" style="float:right">
          <a class="meniu-option" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-caret-right-fill"></i>Courses
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Browse courses</a>
            <a class="dropdown-item" href="#">Your courses</a>
          </div>
        </div>
      </div>
      <!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses-->

      <!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments-->
      <div class="col-sm-2">
        <div class="dropdown show">
          <a class="meniu-option" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-caret-right-fill"></i> Assignments
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ name }}/tests/1">Test 1</a>
            <a class="dropdown-item" href="{{ name }}/tests/2">Test 2</a>
            <a class="dropdown-item" href="{{ name }}/tests/3">Test 3</a>
          </div>
        </div>
      </div>
      <!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments-->

      <!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button-->
      <div class="col-sm-6">
        <div class="dropdown" style="float:right">
          <button class="profile-button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle icon"></i>
          </button>
              <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Classes</a>
                <a class="dropdown-item" href="#">Log out</a>
              </div>
        </div>
      </div>
      <!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button-->

    </div>
  </div>