<html lang="en">
  <head>
    <!--flex grid boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <!--toggle dropdown menu-->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!--Icon library-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">      
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="individual_test.css" rel="stylesheet">

  </head>
  <body>
    <!--navbar--><!--navbar--><!--navbar--><!--navbar--><!--navbar--><!--navbar-->
    <div class="row">
      <div class="navbar">

        <div class="col-sm-1">
          <div class="title"><a class="title" href="#home">AnonTester</a></div>
        </div>


        <!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses-->
        <div class="col-sm-2">
          <div class="dropdown show" style="float:right">
            <a class="meniu-option" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-caret-right-fill"></i>Courses
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Web courses</a>
              <a class="dropdown-item" href="#">Your courses</a>
            </div>
          </div>
        </div>
        <!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses-->


        <!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments-->
        <div class="col-sm-2">
          <div class="dropdown show">
            <a class="meniu-option" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-caret-right-fill"></i> Assignments
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Test 1</a>
              <a class="dropdown-item" href="#">Test 2</a>
              <a class="dropdown-item" href="#">Test 3</a>
            </div>
          </div>
        </div>
        <!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments--><!--assignments-->


        <!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button-->
        <div class="col-sm-6">
          <div class="dropdown" style="float:right">
            <button class="profile-button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-person-circle icon"></i>
            </button>
                <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Classes</a>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
          </div>
        </div>
        <!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button-->

      </div>
    </div>
    <!--navbar--><!--navbar--><!--navbar--><!--navbar--><!--navbar--><!--navbar-->

    <!--content-->

        <center>
        <h2 class="label">Test 1</h3>
        </center>
      
    <div class="container">
      <div class="card">
        <div class="box">
          <div class="content">
            <h3><b>Input</b></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="box">
          <div class="content">
            <h3><b>Expected Output</b></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="box">
          <div class="content">
            <h3><b>Actual Output</b></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          </div>
        </div>
      </div>
    </div>
    <button class="back">Back</button>
    
    <!--content-->

    <!--footer-->
    <div class="footer">
      <div class="row text-center">
        <div class="col-6 padding-0">
          <p class="s1">Any problems? Contact us at
            <a href="mailto:support@anontester.com" style="color:#c2a90c">support@anontester.com</a>
          </p>
        </div>
        <div class="col-6 padding-0">
          <p class="s2">
            <a href="https://en.wikipedia.org/wiki/Terms_of_service" style="color:#c2a90c">Terms and conditions</a>
          </p>
        </div>
      </div>
    </div>
    <!--footer-->
  </body> 
</html>
