<html lang="en">
  <head>
    {% load static %}
    <!--flex grid boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <!--toggle dropdown menu-->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--Icon library-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">      
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="{% static 'css/view_courses.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/view_lessons.js' %}" defer data-data="{{ name }}"></script>
  </head>
  <body>
    <!--navbar--><!--navbar--><!--navbar--><!--navbar--><!--navbar--><!--navbar-->
    <div class="navbar">
      <div class="col-2">
        <div class="title">AnonTester</div>
      </div>

        <!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses-->
        <div class="col-1">
          <div class="dropdown show" style="float:left;">
            <a class="meniu-option" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <i class="bi bi-caret-right-fill"></i>Courses
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                <a class="dropdown-item" href="#">View courses</a>
                <a class="dropdown-item" href="#">Add new course</a>
            </div>
          </div>
        </div>
        <!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses--><!--courses-->


        <!--tests--><!--tests--><!--tests--><!--tests--><!--tests--><!--tests--><!--tests--><!--tests-->
        <div class="col-1">
          <div class="dropdown show" style="float:left">
            <a class="meniu-option" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-caret-right-fill"></i> Tests
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">View tests</a>
                <a class="dropdown-item" href="#">Add new test</a>
            </div>
          </div>
        </div>
        <!--tests--><!--tests--><!--tests--><!--tests--><!--tests--><!--tests--><!--tests--><!--tests-->


        <!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button-->
        <div class="col-6">
          <div class="dropdown" style="float:right">
            <button class="profile-button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-person-circle icon"></i>
            </button>
                <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
          </div>
        </div>
        <!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button--><!--profile button-->

      </div>
    <!--navbar--><!--navbar--><!--navbar--><!--navbar--><!--navbar--><!--navbar-->

    <!--cards--><!--cards--><!--cards--><!--cards--><!--cards--><!--cards-->

    <div class="row">
        {% for l in lessons %}
        <div class="column">
            <div class="card">
                <div class="inner"><button class="button1" onclick="viewLesson({{ l.id }})" role="button">{{ l.title }}</button></div>
                <img src="3.bmp" alt="cat" width="60" height="50">
                <h6>{{ l.descr }}</h6>
                <h6>Prof: {{ l.t_name }}</h6>
            </div>
          </div>
        {% endfor %}

    <!--cards--><!--cards--><!--cards--><!--cards--><!--cards--><!--cards-->

    <!--footer--><!--footer--><!--footer--><!--footer--><!--footer-->
    <div class="footer">
        <span class="col-3 s1">Any problems? Contact us at
          <a href="mailto:support@anontester.com" style="color:#c2a90c">support@anontester.com</a>
        </span>
        <span class="col-12 s2">
          <a href="https://en.wikipedia.org/wiki/Terms_of_service" style="color:#c2a90c">Terms and conditions</a>
        </span>
      </div>
      <!--footer--><!--footer--><!--footer--><!--footer--><!--footer-->
    </body> 
  </html>